
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.select-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: rgb(10, 51, 92);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.select-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-field:focus {
  border: 2px solid rgb(10, 51, 92);
}
.select-field:focus {
  border: 2px solid rgb(10, 51, 92);
}

/* Set a style for the submit button */
.btn {
  background-color: rgb(10, 51, 92);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
#a1{
    padding-top:5%;
}
#z{
        visibility:hidden;
    }
</style>
</head>
<body>
<form id="a1" action="/intern" style="max-width:500px;margin:auto" method="POST">
  <h2> Internship Registration</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Full Name" name="intern[name]">
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="intern[email]">
  </div>
  <div class="input-container">
        <i class="fa fa-phone icon"></i>
        <input class="input-field" type="text" placeholder="phone" name="intern[phone]">
      </div>
      <div class="input-container">
            <i class="fa fa-book icon"></i>
            <input class="input-field" type="text" placeholder="college" name="intern[college]">
          </div>
          <div class="input-container">
                <i class="fa fa-book icon"></i>
                <select class="input-field" id="country" name="intern[branch]">
                        <option value="australia">Select Branch</option>
                        <option value="canada">Mechanical</option>
                        <option value="usa">Civil</option>
                      </select> 
              </div>
              <div class="input-container">
                  <i class="fa fa-book icon"></i>
                  <select class="input-field" id="country" name="intern[course]">
                          <option value="australia">Courses</option>
                          <option value="canada">Mechanical</option>
                          <option value="usa">Civil</option>
                        </select> 
                </div>
              <div class="input-container">
                    <i class="fa fa-plane icon"></i>
                    <input class="input-field" type="text" placeholder="Venue" name="intern[venue]">
                  </div>
                  <div class="input-container">
                        <i class="fa fa-book icon"></i>
                        <input class="input-field" type="text" placeholder="Referal" name="intern[referal]">
                      </div>
  <div class="input-container">
        <i class="fa fa-book icon"></i>
        <select class="input-field" id="country" name="Branch">
                <option value="australia">Select Internship Program</option>
                <option value="canada">Winter Internship Program</option>
                <option value="usa">Summer Internship Program</option>
              </select> 
      </div>
<button type="submit" class="btn">Register</button>
</form>
</body>
</html>
