<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/CSS/amz.css" rel="stylesheet" type="text/css">
    <title>Civil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="amz.css">
</head>

<body>
    <header>
        <div class="container">
            <nav class="nav">
                <div class="menu menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
              
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link">Civil Engineering</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About The Course</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Eligibility And Duration</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Certificates And Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Fees And Accomodation</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Faculty Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="w3-container">
        <div class="w3-display-container">
            <section class="discover-our-story">

                <h1 class="headline-dark ">
                    <center>Civil Engineering </center>
                </h1>

                <div class="company-info aa ">
                    <div class="company-description padding-right animate-left ">
                        <div class="global-headline">
                            <h2 class="sub-headline">

                            </h2>

                        </div>

                        <img src="http://amzautomotive.com/wp-content/uploads/2015/08/banner-2.jpg">


                    </div>
                    <div class="company-description animate-right ">
                        <center><strong class="aaa">About The Course</strong></center>
                        <p class="ac">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to
                            make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting,
                            remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets
                            containing Lorem
                            Ipsum passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum.
                        </p>

                    </div>
                </div>
        </div>

    </div>
    </section>

    <div class="w3-container">
        <div class="w3-display-container">
            <section class="discover-our-story">



                <div class="company-info ">
                    <div class="company-description padding-right animate-left">
                        <div class="global-headline">
                            <h2 class="sub-headline">

                            </h2>

                        </div>
                        <center><strong class="aaa">Eligibility And Duration</strong></center>
                        <p class="ac">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to
                            make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting,
                            remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets
                            containing Lorem
                            Ipsum passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum.
                        </p>



                    </div>
                    <div class="company-description animate-right ">

                        <img
                            src="https://dz01iyojmxk8t.cloudfront.net/wp-content/uploads/2011/02/07004605/professional-relationships.jpg">
                    </div>
                </div>
        </div>

    </div>
    </section>
    <div class="w3-container">
        <div class="w3-display-container">
            <section class="discover-our-story">


                <div class="company-info aa ">
                    <div class="company-description padding-right animate-left ">
                        <div class="global-headline">
                            <h2 class="sub-headline">

                            </h2>

                        </div>

                        <img src="http://amzautomotive.com/wp-content/uploads/2015/08/banner-2.jpg">


                    </div>
                    <div class="company-description animate-right ">
                        <center><strong class="aaa">Certificates And Benefits</strong></center>
                        <p class="ac">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to
                            make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting,
                            remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets
                            containing Lorem
                            Ipsum passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum.
                        </p>

                    </div>
                </div>
        </div>

    </div>
    </section>
    <div class="w3-container">
        <div class="w3-display-container">
            <section class="discover-our-story">



                <div class="company-info ">
                    <div class="company-description padding-right animate-left">
                        <div class="global-headline">
                            <h2 class="sub-headline">

                            </h2>

                        </div>
                        <center><strong class="aaa">Fees and accomodation</strong></center>
                        <p class="ac">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to
                            make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting,
                            remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets
                            containing Lorem
                            Ipsum passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of
                            Lorem Ipsum.
                        </p>



                    </div>
                    <div class="company-description animate-right ">

                        <img
                            src="https://dz01iyojmxk8t.cloudfront.net/wp-content/uploads/2011/02/07004605/professional-relationships.jpg">
                    </div>
                </div>
        </div>

    </div>
    </section>
<center><a class="btn green">Register Now!</a></center>
    <footer>
        <div class="container">
            <!-- <div class="back-to-top">
                <a href="a1"><i class="fas fa-chevron-up"></i></a>
            </div> -->
            <div class="footer-content">
                <div class="footer-content-about animate-up">
                    <h4>About AMZ</h4>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the
                        industry's standard
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to
                        make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic
                        typesetting,
                        remaining essentially
                        unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem
                        Ipsum passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                </div>

                <div class="footer-content-divider animate-bottom">
                    <div class="social-media">
                        <h4>Follow Us On</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="newsletter-container">
                        <h4>Newsletter</h4>
                        <form action="#" class="newsletter-form">
                            <input type="text" class="newsletter-input" placeholder="your email">
                            <button class="newsletter-btn" type="submit">
                                <i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="amz.js"></script>
    <style>
    .btn{
        width:10%;
        height:1rem;
        text-align: center;
        font-size:2rem;
        padding-bottom:3%;
    }</style>