<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/CSS/amz.css" rel="stylesheet" type="text/css">
    <!-- <script src="/amz.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>AMZ Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    
</head>
<style>
    .asd{
        padding-top:8%;
        margin-bottom: 0%;
        background-size:cover;
    }
    .i{
        height:800px;
        width:100%;
    }
    


</style>
<body>
<header id="header">
    <div class="container">
        <nav class="nav">
            <div class="menu menu-toggle">
               <i class="fas fa-bars"></i>
<i class="fas fa-times"></i>
            </div>
            <!-- <a href="amz.html" class="logo"><img src="images/logo-rosa.png" alt=""></a> -->
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/adminhome" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown1">
                            <a class="nav-link">Add New Items
                              
                            </a>
                            <div class="dropdown1-content">
                                <a href="/newslider">New Slide</a>
                                <a href="/newnews">New News</a>
                                <a href="/newsponsor">New Sponsor</a>
                                <a href="/image">New Image</a>
                                <a href="/newmember">New Team Member</a>
                                <a href="/newuser">New Student</a>
                                <a href="/newuser">New Employee</a>
                                <a href="/newworkshop">New Workshop</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                    <div class="dropdown1">
                        <a class="nav-link"> Student Requests
                            </a>
                        <div class="dropdown1-content">
                            <a href="/mechanical">Patent Request</a>
                            <a href="/civil">Research Paper</a>
                            <a href="/computer">Startup Idea</a>
                            <a href="/electrical">Innovative Idea</a>
                            <a href="/electrical">Complaints</a>
                        </div>
                    </div>
                    </li>
                    <li class="nav-item">
                        <a href="/students" class="nav-link">Enrolled Students</a>
                    </li>
                    <li class="nav-item">
                        <a href="/employee" class="nav-link">Employees</a>
                    </li>
                    <li class="nav-item">
                    <div class="dropdown1">
                        <a class="nav-link">Message
                          </a>
                        <div class="dropdown1-content">
                            <a href="#">Message to students</a>
                            <a href="#">Message to Employee</a>
                        </div>
                    </div>
                    </li>
                
            </ul>
        </nav>
        </div>
</header>
<div class="ui main text container a">
    <div class=" ui huge header">Enrolled Student sponsors</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <%for(var i=0;i<sponsors.length;i++){%>
            <div class="item">
                <div class="image">
                    <img src="<%=sponsors[i].file%>">
                </div>
                <div class="content">
                    
                    <div class="extra">
                        <form action="/<%=sponsors[i].id%>/editsponsor/?_method=Delete" method="POST">
                            
                            <button type="Submit" class="ui red basic button">Remove</button>
                        </form>  
                    </div>
                </div>
            </div>
            <%}%> 
        </div>
    </div>
</div>
<style>
 body  {
  background-image: url(https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover
}
.a{
    margin-top:10%;
}
/* a{
    font-size:5rem;
} */
.b{
    width:33%;
    height:4rem;
    font-size:33ch;
}
</style>
