<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

<div class="ui main text container segment" id="a">
        <div class="ui huge header">Edit Expenditure Sheet</div>
        <form class="ui form" action="/<%=request.id%>/edit" method="POST">
            <div class="field">
                <label>Purpose</label>
                <input type="text" name="request_staff[purpose]" value="<%=request.purpose%>">
            </div>
               
                
                <div class="field">
                    <label>Description</label>
                    <textarea name="request_staff[desc]" value="<%=request.desc%>"></textarea>
                </div>
                <div class="field">
                    <label>Credit</label>
                    <input type="text" name="request_staff[credit]" value="<%=request.credit%>">
                </div>
            
            <button class="ui button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
    <style>
   body  {
  background-image: url(https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover
}
#a{
    margin-top:3%;
}
    </style>