<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui main text container segment a">
    <div class="ui huge header">messages</div>
<div class="ui compact message">
        <% var a=currentUser.username%>
        <ul class="list">
          <%for(var i=0;i<messages.length;i++){%>
            <%if(currentUser.type=='Student'){%>
            <%if(messages[i].recep=='Student'|| messages[i].recep==a){%>
         <li><%=messages[i].desc%></li><%}}%>
              <%if(currentUser.type=='Employee'){%>
                <%if(messages[i].recep=='Employee'||messages[i].recep==a){%>
                  <li><%=messages[i].desc%></li><%}}%>
               <% }%>
             
              
            </div>
          <br>
            <a class="ui red basic button"href="/dashboard">Back</a>
          </div>
            <style>
             body  {
  background-image: url(https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover
}
.a{
    margin-top:3%;
}
            </style>