
<div class="ui main text container segment">
        <div class="ui huge header">New Item</div>
        <form class="ui form" action="/newsponsor" method="POST" enctype="multipart/form-data">
            
                <div class="field">
                        <label>Upload Image</label>
                        <input type="file" name="sponsor[file]">
                    </div>    
            <button class="ui button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
    <style>
    body{
        background-image:url(https://st.depositphotos.com/3008028/3751/i/950/depositphotos_37516417-stock-photo-black-and-white-background.jpg);
        background-size:cover;
        background-repeat:no-repeat;
    }
    </style>
    