<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

<div class="ui main text container segment" id="a">
        <div class="ui huge header">New User</div>
        <form class="ui form" action="/newnews" method="POST" enctype="multipart/form-data">
            <div class="field">
                <label>Title</label>
                <input type="text" name="news[title]" placeholder="title">
            </div>
                <div class="field">
                    <label>Description</label>
                    <textarea name="news[desc]"></textarea>
                </div>
            <div class="field">
                    <label>Posted By</label>
                    <input type="date" name="news[time]">
                </div>
                <div class="field">
                        <label>Upload Image</label>
                        <input type="file" name="news[file]">
                    </div>    
            <button class="ui button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
    <style>
   body  {
  background-image: url(https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover
}
#a{
    margin-top:10%;
}
    </style>