<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui main text container segment" id="a">
        <form class="ui form" action="/reset/<%=token%>" method="POST">
            <div class="ui huge header">Reset Password</div>
   <div class="field">
        <label for="password">New Password</label>
        <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
    </div>
    <div class="field">
        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" value="" placeholder="confirm password" class="form-control"/>
    </div>

    <button class="ui button" type="submit">Update Password</button>            </div>
    
</form>
    </div>
</div>
<style>
        body  {
       background-image: url(https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg?size=626&ext=jpg);
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size:cover
     }
     #a{
         margin-top:10%;
     }
         </style>