<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Aspiring Researchers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="amz.css">
</head>
<style>
    .nav-link {
        color: rgb(245, 102, 102);
    }
</style>

<body>
    <header>
        <div class="container">
            <nav class="nav">
                <div class="menu menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="amz.html" class="logo"><img src="images/logo-rosa.png" alt=""></a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Signed In as Ritik Gupta</a>
                    </li>
                    <li class="nav-item">
                        <a href="#aa" class="nav-link">FAQ</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">Change Password</a>
                    </li>


                    <li class="nav-item">
                        <a href="#" class="nav-link">Logout</a>
                    </li>


                </ul>
            </nav>
        </div>
    </header>

    
    <div class="container">
        <div class="wrapper">
            <div class="left">
                <table class="ui table">
                    <form>
                    <thead>
                        <tr>
                            <th>Time</th>
                            
                            <th>Your Details</th>
                            <th>Submit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10AM</td>
                            <td><input  class="l" type="text"></td>
                            <td><button class="btn green">Submit</button></td>
                        </tr>
                    <tr>
                        <td>10:15AM</td>
                        <td><input class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                    </tr>
                        <tr>
                            <td>10:30AM</td>
                            <td><input class="l" type="text"></td>
                            <td><button class="btn green">Submit</button></td>
                        </tr>
                        <tr>
                            <td>10:30AM</td>
                        <td><input class="l" type="text"></td>
                            <td><button class="btn green">Submit</button></td>
                        </tr>
                    <tr>
                        <td>10:30AM</td>
                    <td><input class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                    </tr>
                        <tr>
                            <td>10:30AM</td>
                            <td><input class="l" type="text"></td>
                            <td><button class="btn green">Submit</button></td>
                        </tr>
                        <tr>
                            <td>10:30AM</td>
                            <td><input class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                        </tr>
                    <tr>
                        <td>10:30AM</td>
                    <td><input class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                    <tr>
                        <td>10:30AM</td>
                    <td><input class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                    </tr>
                    <tr>
                        <td>10:30AM</td>
                        <td><input class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                    </tr>
                        <tr>
                            <td>10:30AM</td>
                        <td><input class="l" type="text"></td>
                            <td><button class="btn green">Submit</button></td>
                        </tr>
                    <tr>
                        <td>10:30AM</td>
                        <td><input class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                    </tr>
                    <tr>
                        <td>10:30AM</td>
                    <td><input class="l" type="text"></td>
                    <td><button class="btn green">Submit</button></td>
                    </tr>
                    <tr>
                        <td>10:30AM</td>
                    <td><input class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                    </tr>
                        <tr>
                            <td>10:30AM</td>
                        <td><input class="l" type="text"></td>
                            <td><button class="btn green">Submit</button></td>
                        </tr>
                        <tr>
                            <td>10:30AM</td>
                        <td><input class="l" type="text"></td>
                            <td><button class="btn green">Submit</button></td>
                        </tr>
                    <tr>
                        <td>10:30AM</td>
                    <td><input class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                    </tr>
                        <tr>
                            <td>10:30AM</td>
                        <td><input class="l" type="text"></td>
                            <td><button class="btn green">Submit</button></td>
                        </tr>
                    <tr>
                        <td>10:30AM</td>
                    <td><input class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                    </tr>
                    <tr>
                        <td>10:30AM</td>
                       <td><input  class="l" type="text"></td>
                        <td><button class="btn green">Submit</button></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>



    <style>
            .table{
                font-size: 2rem;
                margin-top:5%;
                width:70%;

            }
            .l{
                width:100%;
            }
    </style>