<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui main text container segment" id="a">
    <form class="ui form" action="/verify" method="POST">
            <div class="ui huge header">Verify Certificate</div>
                    <div class="field">
                <label for="email">Your Enrollment Id</label>
                <input type="text" name="stu_id" autofocus class="form control">
            </div>
            <div class="field">
                    <button class="ui button" type="submit">Verify</button>            </div>
        </form>
    </div>
</div>

<style>
    body  {
   background-image: url(https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg?size=626&ext=jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size:cover
 }
 #a{
     margin-top:10%;
 }
     </style>